* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color: bisque;
}

.flexbox-container {
    background-color: beige;
    min-width: 100vw;
}

.flexbox-container h1 {
    padding-left: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.recipe-box {
    border: 3px solid rgb(155, 155, 129);
    max-width: fit-content;
    border-radius: 10px;
    color: black;
    text-align: center;
    background-color: beige;
    margin: 5px;
    font-size: 15px;
    font-family: "Oswald", sans-serif;
}

.recipeboxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.recipeboxes img {
    height: 500px; 
    width: 500px;
    border-radius: 7px;
    overflow: hidden;
}

.recipebutton {
    background-color: rgb(219, 219, 192);
    font-size: 30px;
    border-radius: 10px;
    border: none;
    padding: 20px;
    margin: 5px;
    width: 90%;
    transition: background-color 300ms ease-in-out;
}

.recipebutton a {
    text-decoration: none;
    color: black;
}
.recipebutton:hover {
    background-color: rgb(182, 182, 159);
}

.footer {
    padding: 10px;
    background-color: rgb(235, 209, 178);
    margin: 15px;
    border-radius: 11px;
}